# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
gradle/
gradle.properties
build
*.gradle
gradlew

# other
eclipse
run
saves/
config/
options.txt
usercache.json
usernamecache.json
logs/
crash-reports/
*.launch
*.bat
*.jar

# Minecraft
minecraft

#forge
CREDITS-fml.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode*.txt
forge-*-changelog.txt

